 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat+Alternates:wght@700&display=swap');

 body {
     font-family: 'Ubuntu', sans-serif;
     background-color: #FEFFE4;
 }

 /* .produto {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     list-style: none;
     font-family: 'Cormorant Garamond', serif;
     font-weight: 600;

 }

 .estilo-titulo a {
     text-decoration: none;
     text-transform: uppercase;
     font-family: 'Montserrat Alternates', sans-serif;
     text-shadow: 1px 1px;
     border-bottom: 2px solid #000000;
 }

 .estilo-titulo h1 {
     background-color: #DFD7BF;
     color: #3F2305;
     display: flex;
     justify-content: center;
     border-radius: 10px;
     border-bottom: 2px solid #000000;
     text-shadow: 1px 1px;

 } */


 /* --Estilização Update com PUT-- */

 .box-father {
     background: #FEFFE4;
 }

 .box-father form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: auto;
 }

 .page-Title {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .page-Title h1 {
     color: #000;
     text-align: center;
     font-size: 32px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin: 27px;
 }

 .page-Title a{
    text-decoration: none;
    font-size: 25pt;
    color: #000;
    text-transform: uppercase;
 }

 .box-form {
     border-radius: 12px;
     background: #FFF;
     box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
     width: 420px;
     height: 439px;
     display: flex;
     align-items: center;
 }

 .box-form h1 {
     color: #000;
     text-align: center;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
 }

 #id {
     width: 304px;
     height: 34px;
     border-radius: 4px;
     border: 1px solid #000;
     background: #E3E2E2;
     /* margin: 15px; */
     font-style: italic;
     font-size: 16px;
 }

 .label-text {
     display: flex;
     align-self: flex-start;
     padding-inline: 4rem;
     margin-top: 20px;
     margin-bottom: 4px;
 }

 #descricao,
 #preco {
     width: 304px;
     height: 34px;
     border-radius: 4px;
     border: 1px solid #000;
     background: #FEFFE4;
     color: #000;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     font-style: italic;
 }

 .containerButton {
     display: flex;
     width: 80%;
     height: 120px;
     align-items: center;
     justify-content: space-evenly;
 }

 .bt-Atualizar {
    width: 10.4rem;
    height: 2.9rem;
    border-radius: 0.25rem;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
 }



#btAtualizar:hover {
    background-color: #007BED;
}

#btCancelar:hover {
    background-color: #FF5F5F;
    color: #fff;
}

#btCancelar:disabled {
    cursor: not-allowed;
    background-color: #e2e0e0;
    box-shadow: none;
    color: #ccc;
    border: none;
}

#btAtualizar:disabled {
    cursor: not-allowed;
    background-color: #e2e0e0;
    box-shadow: none;
    color: #ccc;
}

 .bt-Cancelar {
    width: 7.4rem;
    height: 2.9rem;
    border-radius: 0.25rem;
    background: #fff;
    border: 1px solid #F59999;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #F59999;;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
 }

 #btAtualizar:active {
     box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
 }

 #btCancelar:active {
     box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
 }


 
  /* --Produtos-- */

 .box-product {
     margin-top: 80px;
 }

 .box-product h1 {
     font-size: 24px;
     font-weight: 400;
     margin-top: 40px;
     padding-inline: 190px;
     margin: 20px;
 }

 #listaProdutos {
     display: flex;
     flex-direction: column;
     color: #000;
     font-family: Ubuntu;
     font-size: 16pt;
     font-style: normal;
     font-weight: 400;
     align-items: center;
 }

 #listaProdutos ul {
     width: 1500px;
     line-height: 43px;
     border-bottom: 1px solid #000;
     background: #FFF;
     display: flex;
     justify-content: space-between;
     cursor: pointer;
 }

 #listaProdutos ul:nth-child(odd) {
     border-bottom: 1px solid #000;
     background: #fff;
 }

 #listaProdutos ul:nth-child(even) {
     border-bottom: 1px solid #000;
     background: #fff1c1;
 }

 #listaProdutos li {
     display: flex;
     padding-inline: 40px;
     font-size: 16pt;

 }

 #listaProdutos li:nth-child(2) {
     margin-right: auto;
     margin-left: 5rem;
 }

 /* --Botão Apagar Produtos Delete com Delete-- */

 .box-btDeletarProdutos {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #btDeletarProdutos {
    width: 14rem;
    height: 2.9rem;
    border-radius: 0.25rem;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
 }


 /* --NAVBAR-- */


 .navbar {
    background-color: beige;
}

.navbar ul {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
    text-align: center;
}

.navbar a {
    color: #000;
    text-decoration: none;
}